.alltutors h2{
    font-size: 2rem;
    color:black;
    text-align: center;
    position: relative;
    top: 1.3rem;
}

.grid-container-Tutors {
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    list-style-type:none;
    gap : 3%; 
    margin-left: 3em;
    margin-right: 3em;
    
}

.card1 {
    position: relative;
    box-shadow: 0rem 0rem 0.5rem #fff5f5;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    overflow:hidden;
    background-color: #99c9ff;
    flex: 0 0 calc(20% - 2em); 
    width: 300%;
    margin-bottom: 0.5em;
  
}


.card1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem; 
    background-color: #0079ff; 
    border-radius: 0.5rem 0.5rem 0rem 0rem; 
    z-index: 1;
}


.card1 h3 {
  
   position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.8em;
  font-size: 1rem;
  color: white;
  text-align: center;
  z-index: 2;
}

.card ul {
    font-size: 1rem;
    z-index: 2; 
}

.leftAline{
    text-align: left;
    position: relative;
    bottom: 1rem;
}

.card1 img {
    width: 70%;
    height: 45%;
    border: 0.01rem solid #ccc;
    border-radius: 50%;
    z-index: 2; 
}

#sort{
    width: 10%;
    position: relative;
    left: 65rem;
}

.dark-mode .alltutors h2,
.dark-mode .card1 h4,
.dark-mode ul li {
    color: white;
}

.dark-mode .card1::before {
    background-color: #234872;
}

.dark-mode .card1 {
    background-color: #6689b2;
}

.dark-mode .card1 h3 {
    color: #bcdafa;
}

.dark-mode #sort {
   background-color:#333;
   color: white; 
}